:host {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 120px;
  max-height: 120px;
}

.message-input {
  width: 100%;
  margin: 2px 2px 2px 2px;
}

.send-message-button{
  height: 80px;
  margin: 2px 2px 2px 2px;
}
